        <table class="orders">
          <thead>
            <tr>
              <td width="40"></td>
              <td width="40"></td>
              <td width="40"></td>
              <td width="440"></td>
              <td width="80"></td>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td class="actions"><%= link_to '[x]', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="actions"><%= link_to 'edit', edit_order_path(order) %></td>
                <td class="printed"><input type="checkbox"<%= order.done? ? ' selected="1"' : "" %>></input></td>
                <td><%= order.name %></td>
                <td class="numeric"><%= order.length %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
