        <table class="orders">
          <thead>
            <tr>
              <td width="40"></td>
              <td width="40"></td>
              <td width="40"></td>
              <td width="530"></td>
              <td width="80"></td>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr class="order" data-order_id="<%= order.id %>">
                <td class="actions"><%= link_to '[x]', roll_order_path(@roll, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td class="actions"><%= link_to 'edit', edit_roll_order_path(@roll, order) %></td>
                <td class="printed"><input type="checkbox"<%= order.done? ? ' checked=1' : "" %>></input></td>
                <td><%= order.name %></td>
                <td class="numeric"><%= order.length %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
