<p id="notice"><%= notice %></p>

<p>
  <strong>Roll:</strong>
  <%= @order.roll_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @order.length %>
</p>

<%= link_to 'Edit', edit_roll_order_path(@roll, @order) %> |
<%= link_to 'Back', roll_orders_path(@roll) %>
