<h1>Ink and Spindle Inventory</h1>

<table id="rolls">
  <thead>
    <tr>
      <td width="80">Length</td>
      <td width="500">Roll</td>
      <td width="40"></td>
      <td width="80">On Shelf</td>
      <td width="80">Allocated</td>
      <td width="80">Available</td>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |roll| %>
      <tr class="roll" data-roll_id="<%= roll.id %>">
        <td class="numeric length"><%= roll.length %></td>
        <td class="name"><%= roll.name %></td>
        <td class="editlinks"><a class="editroll" href="#">edit</a></td>
        <%= render partial: "variable_numbers", locals: { roll: roll } %>
      </tr>
      <tr class="order-table-container" data-roll_id="<%= roll.id %>">
      </tr>
    <% end %>
    <tr class="newroll">
      <td><input type="number" min="0" step="0.1" name="length"></input></td>
      <td><input type="text" name="name"></input></td>
      <td><a class="createroll" href="#">create</a></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
