<h1>Ink and Spindle Inventory</h1>

<table id="rolls">
  <thead>
    <tr>
      <td width="80">Length</td>
      <td width="500">Roll</td>
      <td width="80">On Shelf</td>
      <td width="80">Allocated</td>
      <td width="80">Available</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |roll| %>
      <tr class="roll">
        <td class="numeric"><%= number_with_precision(roll.length, precision: 1) %></td>
        <td><strong><%= roll.name %></strong></td>
        <td class="numeric"><strong><%= number_with_precision(roll.length - roll.used, precision: 1) %></strong></td>
        <td class="numeric"><%= number_with_precision(roll.allocated, precision: 1) %></td>
        <td class="numeric"><%= number_with_precision(roll.length - roll.allocated, precision: 1) %></td>
        <td><%= link_to 'Show', roll %></td>
        <td><%= link_to 'Edit', edit_roll_path(roll) %></td>
        <td><%= link_to 'Destroy', roll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr class="order-table-container" data-roll_id="<%= roll.id %>">
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roll', new_roll_path %>
